.redditplus-button{
	display: inline !important;
	cursor: pointer;
}
.redditplus-button.fl{
    float: left;
}
.redditplus-image{
	max-width: 100%;
	height: auto;
}
.redditplus-lightbox{
	z-index: 100;
	background: #333;
	position: fixed;
	left: 0;right:0;top:0;bottom:0;
	display: none;
}
.redditplus-lb-content{
	z-index: 102;
	position: fixed;
	overflow: scroll;
}
.redditplus-backup{
	padding: 15px;
	text-align: center;
	cursor: pointer;
}

/** responsive addons **/
@media(max-width: 600px){
    .side{
        display: none;
    }
    div#header-bottom-right{
        position: static;
        display: block;
    }
}
@media(max-width: 400px){
    .thumbnail{
        display: none;
    }
}
